[submodule "quickstart/themes/hugo-PaperMod"]
	path = quickstart/themes/hugo-PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "public"]
	path = public
	url = git@github.com:Filpill/Filpill.github.io.git
	branch = main
[submodule "themes/--depth=1"]
	path = themes/--depth=1
	url = git@github.com:adityatelange/hugo-PaperMod.git
