html {
	background: linear-gradient(DarkSlateGrey, orange) fixed;
}


body {
	color: White;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	background: #033;
	border-radius: 20px;
	border-style: solid;
	border-width: 5px;
	border-color: #2b646e;
	padding-left:30px;
	padding-right:30px;
}

h1,h2,h3,h4 {
	color: White;
	padding-left:10px;
	outline: 5px solid #2b646e;
<!--	text-align:center; -->
}

 em {
	 color: yellow;
 }

 img {
	max-width:100%;
	vertical-align: middle;
	text-align: center;
 }

a {
	color: LightBlue;
}

 .container {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 margin-left: 5px;
	 margin-right: 5px;
 }

.container2 {
	display: block;
	align-items: center;
	justify-content: center;
	margin-left: 5px;
	margin-right: 5px;
	padding-bottom: 10px;
 }

 .image{
	border: 5px solid #2b646e;
	display: block;
	margin-left: auto;
	margin-right: auto;
 }

 .text{
	font-size: 14px;
	text-align: justify;
 }

 .profile{
	border: 5px solid #2b646e;
	display: block;
	margin-left: auto;
	margin-right: 20px;
	width: 75%
 }

 .label{
	border: 5px solid #2b646e;
	text-align: justify;
	display: block;
	padding-left:5px;
	padding-right:5px;
 }

 .u_label{
	border: 5px solid #2b646e;
	text-align: justify;
	display: block;
	padding-left:5px;
	padding-right:5px;
	width:440px;

 }
